/**
 * Neat
 * Imports the Neat Grid Framework with customized settings.
 * This file's content originates from bitters/app/assets/stylesheets/_grid_settings.scss
 *
 * @link http://neat.bourbon.io
 *
 * @author erikharper
 */
@import "neat/app/assets/stylesheets/neat-helpers";

// Useful in Design Stage
$visual-grid: true;

// Grid Settings
$column: em(90);
$gutter: em(30);
$grid-columns: 4 !default;
$max-width: em(1088);

// Neat Breakpoints
$medium-screen: em(480);
$large-screen: em(860);
$extra-large-screen: em(1024);

// Define your breakpoints
$small-screen: new-breakpoint(min-width 0 4);
$medium-screen: new-breakpoint(min-width $medium-screen 8);
$large-screen: new-breakpoint(min-width $large-screen 12);
$extra-large-screen: new-breakpoint(min-width $extra-large-screen 12);

// Up Breakpoints
$medium-screen-up: new-breakpoint(min-width $medium-screen 12);
$large-screen-up: new-breakpoint(min-width $large-screen 12);

// Neat (keep this below everything above)
@import 'neat/app/assets/stylesheets/neat';
