/**
 * Loader
 * CSS Loader Animation.
 *
 * @author erikharper
 */
@include keyframes(stretchdelay) {
  0%, 40%, 100% {
    @include transform(scaleY(0.4));
  }
  20% {
    @include transform(scaleY(1.0));
  }
}

.loader-accordion {
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 15px;
}

.loader-accordion div {
  margin: 0 3px 0 0;
}
.loader-accordion > div {
  background-color: #FFF;
  height: 100%;
  width: 6px;
  display: inline-block;
  box-shadow: 0 0 2px 0 #333;

  @include animation(stretchdelay 1.2s infinite ease-in-out);
}

.loader-accordion .rect2 {
  @include animation-delay(-1.1s);
}

.loader-accordion .rect3 {
  @include animation-delay(-1.0s);
}

.loader-accordion .rect4 {
  @include animation-delay(-0.9s);
}

.loader-accordion .rect5 {
  @include animation-delay(-0.8s);
}
