/**
 * Application Styles
 * Base Styles for the Application Container and the App itself should go here.
 * Grid Styles for the entire app should go here as well.
 *
 * @author erikharper
 */

/**
 * Header Region Styles
 * Default styles for the Header region.
 *
 * @author erikharper
 */
.header-region {
  text-align: center;
}
.header-region__image {
  display:inline-block;
}

/**
 * Body Region Styles
 * Default styles for the Body region.
 *
 * @author erikharper
 */
#appContainer {
  @include outer-container;
  max-width: 500%;
}

/**
 * Current View Styles
 * Styles the Enter/Leave states of the current view.
 * These classes are created by React for the purpose of adding animation
 * to a component when it enters and leaves the DOM.
 *
 * @link http://facebook.github.io/react/docs/animation.html
 */
.currentView-enter {
  width: 100%;
  position:absolute;
  top:0;
  @include animation(zoomBounceIn 0.4s 0.2s ease backwards);
}

.currentView-leave {
  width: 100%;
  position:absolute;
  top:0;
  @include animation(zoomOut 0.2s ease-in);
}

/**
 * Footer Region Styles
 * Default styles for the Footer region.
 *
 * @author erikharper
 */
.footer-region {
  text-align:center;
}
