/**
 * Base
 * Base stylesheet that sets up the starting point for the CSS.
 * Only styles that apply at the highest level of targeting should go here, namely html and body.
 * Global styles go here as well.
 * Styles that @extend Bourbon or other mixins should go here as well.
 *
 */
html {
  font-size: $base-font-size;
  height: 100%;
}
body {
  height: 100%;
  background: $base-background-color;
}
