/**
 * Theme
 * This stylesheet is where theme styles go that are specific to the application.
 * To set Bitters variables, update them in _theme-settings.scss.
 * Feel free to use this file to customize the display of React components as well.
 *
 * @author <yournamehere>
 *
 */

/**
 * Mixins
 * Theme mixins go here.
 */


/**
 * Theme Styles
 * Theme styles go here.
 */

#app {
//  background-image: url('../../images/placeholders/background.png');
  background-size: cover;
  background-position: top;
  max-width: 640px;
  float: none;
  margin: 0 auto;
  min-width: 250px;
}
.body-region {
  position: relative;
}
.header-region__image {
  width: 100%;
  max-width: 400%;
}

.panel {
  background: $light-gray;
  @include padding(10px);
}

// Grid Styles for the Bitters Example Page
.outer-container {
  @include outer-container;
}
.outer-container__wrapper {
  @include span-columns(12);
}
