{% extends 'IgniterPromotionBundle::index.html.twig' %}
{% set og_url = generate_og_url(collection, page) %}
{% set component = page.component %}

{% block meta %}
  {{ parent() }}
  <meta property="og:title" content="{{ page.og_title }}" />
  <meta property="og:url" content="{{ og_url }}" />
  {% if page.og_image_asset is defined %}
      <meta property="og:image" content="{{ (asset_base_url ~ page.og_image_asset.file_path ~ '.' ~ page.og_image_asset.file_extension)|ensure_protocol }}" />
  {% endif %}
  {% if page.og_description %}
      <meta property="og:description" content="{{ page.og_description }}" />
  {% endif %}
{% endblock %}

{% block content %}

    <div id="appContainer"></div>

{% endblock %}
