@import 'keyframes';

/**
 * Animations
 * Custom CSS3 Animations.
 * Inspiration from:
 * @link http://daneden.github.io/animate.css/
 */

.zoomBounceIn {
  @include animation(zoomBounceIn 0.4s 0.2s ease);
  @include animation-fill-mode(forwards);
}
.zoomOut {
  @include animation(zoomOut 0.2s ease-in);
  @include animation-fill-mode(forwards);
}
.scaleHide {
  @include transform(scale(0));
}
.fadeOut {
  @include animation(fadeOut 0.2s ease);
  @include animation-fill-mode(forwards);
}
.fadeIn {
  @include animation(fadeIn 0.2s ease-in);
  @include animation-fill-mode(forwards);
}
